/* Global */
* {
  box-sizing: border-box;
}

body {
  color: #333;
}

main {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  margin: 0px 0px;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 2.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}
/* Content */
.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 730px;
}
.homepage-wrap {
  display: flex;
  gap: 20px;
}

.entry {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.entry-text-content {
  display: flex;
  flex-wrap: wrap;
}
.entry-text-content p,
.entry-text-content h2 {
  margin: 0.5rem 0px;
}

.entry img {
  max-width: 50%;
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
}
.author {
  color: #333;
}

/* Sidebar */
.sidebar {
  max-width: 300px;
  padding-left: 20px;
}
/* Hide Sidebar on mobile */
@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .content-wrapper {
    margin: 0 auto;
  }
}

/* Login */ /* Register */
form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
  border: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

form h1 {
  text-align: center;
}
